.body{
    background-color: #012970;
    padding: 35px 0px 35px 0px;  
}
.detail-asset{
    width: 80%;  
    margin-top: 70px;
    border-radius: 10px;
    background-color: white;
}

.left-content{
    padding-left: 15px;
}
.asset{
    width: 650px;
    border-radius: 10px;
}


.right-content{
}


.title-detail{
    color: #012970;
    font-weight: 900;   
    font-size: 40px;
}

.rating-detail,
.likes-detail{
    margin: 0px 85px 0px 3px;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
}

.total-sold{
    margin: 0px 25px 0px 9px;
    font-size: 30px;
    font-weight: 600;
    color: #086cdf;
}

.total-review{
    margin: 0px 0px 0px 55px;
    font-weight: 600;
    font-size: 30px;
    color: #df8908;
}


.total-price{
    font-size: 45px;
    font-weight: 700;
    margin: 20px 0px 40px 10px;
}



.btn-buy{
    background-color: #012970;
    color: #ffffffff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
}

.btn-buy:hover{
    color: #ffffffff;
    background-color: RGB(1, 41, 112, 0.85);
}

.btn-like{
    margin-top: 15px;
    background-color: #ffffff;
    color: #012970;
    border: 2px solid #012970;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
}

.btn-like:hover{
    color: #012970;
    border: 2px solid #012970;
    background-color: RGB(1, 1, 1, 0.1);
}