.header-detail{
    margin-top: 70px;
    border-top: 1px solid #D9D9D9; 
}

.body{
    margin-top: 20px;
}
    
.detail-asset{
    border-radius: 10px;
}
    
.asset{
    width: 650px;
    border-radius: 10px;
}


.right-content{
    padding-left: 1rem;
}


.title-detail{
    color: #012970;
    font-weight: 900;   
    font-size: 40px;
    margin-bottom: 0;
}

.desc-detail{
    text-align: justify;
    border-top: 1px solid #D9D9D9; 
    border-bottom: 1px solid #D9D9D9; 
    width: 100%;
}

.section-detail{
    font-weight: 600;
    color: #086cdf;
    font-size: large;
}

.heart-icon2{
    margin-left: 1rem;
}

.rating-detail,
.likes-detail{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
}

.review-detail{
    color: #919292;
    margin-bottom: 30px;
}

.pembayaran-detail{
    border-top: 1px solid #D9D9D9; 
    border-bottom: 1px solid #D9D9D9; 
}

.total-price{
    font-size: 45px;
    font-weight: 700;
}


.btn-buy{
    background-color: #012970;
    color: #ffffffff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
}

.btn-buy:hover{
    color: #ffffffff;
    background-color: rgb(2, 35, 170);
}

.btn-like{
    margin-top: 15px;
    background-color: #ffffff;
    color: #012970;
    border: 1px solid #012970;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
}

.btn-like:hover{
    color: #012970;
    border: 1px solid #012970;
    background-color: RGB(1, 1, 1, 0.1);
}




.review{
    margin-top: 20px;
}


.title-review{
    color: #012970;
    font-weight: 700; 
    font-family: 'Nunito', sans-serif;
}