.wrapper-auth{
    background-color: #4154F1;
    height: 100vh;
    position: relative; /* Tambahkan position relative */
}

.wrapper-auth::before {
    content: "";
    display: block;
    height: 10vh; /* Tinggi ruang yang diinginkan */
}

.auth{
    height: 80vh;
    width: 64vw;
    margin-left: 18vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 20px;
}

.left-side{
    margin-left: 40px;
}

.header-auth {
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.img-fluid {
    max-width: 100%; 
    height: auto; 
}

.question {
    text-align: right; 
}

.tittle-question{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 0;
    color: #ACA6A6;
    font-weight: 600;
}

.link-question{
    font-weight: 600;
    font-size: small;
}

.link-backtohome{
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 17px;
}

.start{
    font-size: 5rem;
    font-weight: 600;
    color: black;
    font-family: 'Teko', sans-serif;
}

.start-register {
    font-size: 80px;
    font-weight: 600;
    color: black;
    font-family: 'Teko', sans-serif;
    margin-top: -10px; /* Margin ke bawah negatif */
}

.section-register{
    margin-top: -30px; /* Margin ke bawah negatif */
    
}

.forgot-password{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 600;
    color: black;
    font-family: 'Teko', sans-serif;
}

.desc-fp{
    margin-top: -10px;
    font-size: 18px;
    margin-bottom: 30px;
}

.input-auth::placeholder {
    color: #ACA6A6; /* Warna placeholder yang diinginkan */
    opacity: 1; /* Atur opacity jika perlu */
    font-size: 15px;
    font-weight: 500;
}

.input-auth:focus {
    border-color: rgb(0, 0, 0); 
}


.input-auth, .button-auth {
    width: 100%; /* Set lebar 100% dari elemen induknya */
    padding: 10px; /* Padding dalam elemen */
    margin: 5px 0; /* Margin atas dan bawah */
    box-sizing: border-box; /* Sertakan padding dan border dalam lebar dan tinggi elemen */
    border-radius: 5px; /* Sudut yang melengkung */
    border: 1px solid #ccc; /* Border abu-abu */
}

.input-auth {
    color: #000000;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0px 20px 15px;
    height: 30px;
    border: 2px solid #DFDFDF;
    border-radius: 5px;
    color: #000000;
    background-color: #f9f9f9; /* Warna background input */
}

.button-auth{
    background-color: #4154F1; 
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer; 
    text-align: center; 
}


.button-auth:hover {
    background-color: #0056b3; /* Warna background tombol saat hover */
}

.right-side{
    padding: 20px;
}

.avatar{
    position: absolute;
    width: 66%;
}
    
.img-harits{
    border-radius: 50%;
    border: 7px solid #ffffff; 
}

